@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat-Regular.ttf");
}

body{

	background-image: url("img/ctb.jpg");
	text-align: center;
	font-family: Consolas;
	font-weight: 100;
}

h1{
    color: #e91111;
    font-weight: 100;
    font-size: 35px;
    margin: 40px 0px 20px;
    font-family: "Montserrat", Helvetica;
}

#clockdiv{
	font-family: Consolas;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 70px;
	opacity: 0.80;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 2px;
	background: #5a97df;
	display: inline-block;
	opacity: 0.80;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #2600ad;
	display: inline-block;
	opacity: 0.80;
}

#nplaying{
	text-align: center;
	font-family: monospace;
	font-size: 1px
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
