body{
	text-align: center;
	background: #0bd2e0;
  font-family: Consolas;
  font-weight: 100;
}

h1{
  color: #e91111;
  font-weight: 100;
  font-size: 35px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: Consolas;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 70px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 2px;
	background: #5a97df;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #2600ad;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}